<!-- Texto para atraer a los usuarios, con dos botones,uno para registrarse y otro para iniciar sesión,si has iniciado sesión desaparece esos dos botones -->
<footer class="footer-container">
  <div class="footer-content">
    <p class="footer-text">¿Quieres formar parte de nuestra comunidad?</p>
    <div class="footer-buttons">
      <button *ngIf="!isLoggedIn" (click)="register()">Registrarse</button>
      <button *ngIf="!isLoggedIn" (click)="login()">Iniciar sesión</button>
    </div>
  </div>
</footer>