<header class="header">
  <div class="header-container">
    
    <!-- Banner -->
    <div class="banner">
      <img src="icons/LogoCharizard.png" alt="Banner Pokémon">
    </div>

    <!-- Menú de navegación -->
    <nav class="nav-menu">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active">
            <img src="icons/inicio.png" alt="Inicio">
            Inicio
          </a>
        </li>
        <li>
          <a routerLink="/pokedex" routerLinkActive="active">
            <img src="icons/pokedex.png" alt="Pokedex">
            Pokedex
          </a>
        </li>
        <li>
          <a href="/news">
            <img src="icons/noticias.png" alt="Noticias">
            Noticias
          </a>
        </li>
        <li>
          <a href="/events">
            <img src="icons/eventos.png" alt="Eventos">
            Eventos
          </a>
        </li>
      </ul>
    </nav>

    <!-- Menú de usuario (Solo si está autenticado) -->
    <div *ngIf="isAuthenticated()" class="user-menu">
      <img [ngClass]="{'logged-in': isAuthenticated()}" src="{{ userData?.avatar || 'icons/Avatar.png' }}" alt="Usuario" class="user-avatar" (click)="toggleUserMenu()"/>
    
      <div *ngIf="userMenuVisible" class="dropdown-menu">
        <!-- Muestra el nombre del usuario y el botón de cerrar sesión -->
        <p>{{ userData?.name || 'Usuario' }}</p>
        <button (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</header>
