<header class="header">
  <div class="header-container">

    <div class="logo">
    </div>


    <nav class="nav-menu">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active">
            <img src="icons/inicio.png" alt="Inicio">
            Inicio
          </a>
        </li>
        <li>
          <a routerLink="/pokedex" routerLinkActive="active">
            <img src="icons/pokedex.png" alt="Pokedex">
            Pokedex
          </a>
        </li>
        <li>
          <a href="/news">
            <img src="icons/noticias.png" alt="Noticias">
            <span>Noticias</span>
          </a>
        </li>
        <li>
          <a href="/events">
            <img src="icons/eventos.png" alt="Eventos">
            <span>Eventos</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="banner">
      <img src="icons/Banner.png" alt="Banner Pokémon">
    </div>
  </div>
</header>
<router-outlet></router-outlet>
